.modal-content {
    border-radius: 0px;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 885px;
        margin: 30px auto;
    }
}
.priceModal {
    padding: 20px;
    position: relative;
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 22px;
    }

}